        *,*::after,*::before{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html,body{
            width: 100%;
            height: 100%;
        }
        .container{
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: #555;
            position: relative;
        }
        main{
          width: 100%;
          height: 100%;
          position: relative;
        }
        .slider{
            display: flex;
            width: 100%;
            height: 100%;
            transition: all 2s ease-out;
            position:relative ;
         
        }
        .panner,.planet-card{
            min-width: 100%;
            height: 100%;
            background: #111;
            position: relative;
            
            
        }
        .planet-card{
        }
        .planet-card img{
            width: 50%;
            height: auto;
            
        }
        .planet-name{
          text-align: center;
          color: #fff;
        }
        .bullets {
          position: absolute;
          bottom: 0;
          
         
          height: 10%;
          width: 100%;
          padding: 1rem;
          display: flex;
          justify-content: space-around;
          background: rgb(10, 10, 36);
          border-radius: 50px;
        }
        .bullet{
          width: 50%;
          margin: 0 auto;
          border-radius: 100%;
          opacity: 0.5;

        }
        .bullet.active{
          opacity: 1;
        }
        .bullet img{
          width: 100%;
          height: 100%;
        }
        .planet-info {
         overflow: scroll; 
      }
        .planet-info article{
          width: 60%;
          
          color: #fff;
         text-align: justify;
          margin: 0 auto;
          line-height: 1.5;
          padding: 2rem;
         
          
        }
        .planet-details{
          border: none;
          color: #fff;
        }
        .planet-details td{
          padding: .5rem;
          text-align: center;
        }
        @media only screen and (max-width: 470px){
          .planet-info{
            width: 100%;
            color: #fff;
          }
          .planet-details{
            display: inline-block;
          }
          .planet-info article{
            width: 100%;
            height: 500px;
          
            font-size: 14px;
            overflow: scroll;
            
          }
        }
